/* You can add global styles to this file, and also import other style files */
.cv-content h3 {
    color: #777;
    text-transform: uppercase;
}
.cv-content li {
    list-style-type: circle;
    list-style-position: inside;
}
.cv-content ul {
    text-align: center;
    padding: 1rem;
}