<div>
  <h3>Career Summary</h3>
  <div>
    <ul>
      <li>Volunteer</li>
      <p>Anti Suicide and Depression Squad | Mar 2020 - Apr 2020</p>
      <p>Event organization and coordination</p>
    </ul>
    <ul>
      <li>Volunteer</li>
      <p>Hope of a Tree | Mar 2022 - July 2022</p>
      <p>Event coordinator</p>
      <p>Speaker</p>
    </ul>
  </div>
</div>

<div>
  <h3>Academic Background</h3>
  <p>
    College of Medicine, University of Lagos BSc. Pharmacology, Toxicology and
    Therapeutics 2019 - present
  </p>
</div>
